@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Merriweather:wght@300;400;700&family=Cormorant+Garamond:wght@300;400;700&display=swap');

/* Set a global font rule for most elements */
body, html, 
h1, h2, 
input, textarea, select, button {
  font-family: 'Merriweather', serif; /* Using the elegant font from our import */
}
/* Override input text styles */
.MuiInputBase-input {
  font-family: 'Merriweather', serif;
}

/* Override label styles */
.MuiInputLabel-root {
  font-family: 'Merriweather', serif;
}
/* Existing rules */
body, html {
  height: 100%;
  margin: 0;
  background-color: #F5EFE7;
}

.landing-create-event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F5EFE7; 
}

.title {
  font-size: 2.8em;
  font-weight: 700;
  font-family: 'Playfair Display', serif; /* Keeping title distinct if desired */
  color: #997C70 !important; 
  text-align: center;
  margin-bottom: 20px;
  margin-left: 27%;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8em;
  font-weight: 700;
  color: #585e54; 
}

.card {
  display: flex;
  width: 80%;
  max-width: 1200px; 
  height: 75%;
  background-color: #D8C4B6; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-left: 25%;
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}

.vertical-line {
  width: 1px;
  height: 90%; 
  background-color: #727D73;
  align-self: center; 
}

button {
  margin-top: 20px;
  background-color: #213555 !important; /* Default button color */
  color: white; 
  border: none;
  padding: 12px 18px;
  font-size: 1.1em;
  font-family: 'Merriweather', serif; /* Ensure buttons use our imported font */
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #3E5879 !important; /* Hover color */
  transform: scale(1.05);
}